html {
    color-scheme: light dark;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background-color: #FDF7C3;
}

main {
    flex: 1 1 auto;
    width: min(70ch, 100% - 4rem);
    margin-inline: auto; 
}

header {
    /*background-color: #B2A4FF;
    color: #554994;*/
    text-align: center;
}

h1 {
    margin: 5px;
}

p {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin: 5px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

button {
    width: 18%;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #FFB4B4;
    /*color: #554994;*/
    border: none;
    padding: 5px 20px;
    font-weight: bold;
}

#black {
    border: 2px solid;
}

button:hover {
    background-color: #FFDEB4;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    border: 1px solid #554994;
}

.square {
    box-sizing: border-box;
    aspect-ratio: 1;
    background-color: white;
/*     border: solid 1px white;
 */}

 footer {
    text-align: center;
    background-color: #554994;
    color: #FDF7C3;
 }

 footer p {
    margin: 0;
    padding: 5px;
 }