html {
    color-scheme: light dark;
}

/*main {
    width: min(70ch, 100% - 4rem);
    margin-inline: auto;
}*/

.container {
    display: flex;
    flex-wrap: wrap;
}

.square {
    box-sizing: border-box;
    aspect-ratio: 1;
    background-color: gray;
    /*border: solid 1px white;*/
}